<!DOCTYPE html>
<html>

    <head>
        {{ include('layout/includes/google.html.twig') }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Custom web software created by Selene Software">
        <meta name="keywords" content="web, software, react, react native, web development">
        <title>{{ title }}</title>
        {#
        <link rel="stylesheet" href="css/foundation.min.css">
        <link rel="stylesheet" href="css/wireframe-theme.min.css">
        #}
        <script>document.createElement( "picture" );</script>
        <script class="picturefill" async="async" src="/picturefill.min.js"></script>
        <link rel="stylesheet" href="/assets/app.css">
        {#
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,b">
        #}
    </head>

    <body class="no-js">
        {{ include('layout/includes/header.html.twig') }}

        {%block body %}
        <h3 class="section-title">{{ subtitle }}</h3>
        <div class="container services-grid">

            <div class="container service">
                <div class="responsive-picture">
                    <picture><img alt="Placeholder Picture" src="/assets/images/{{ pictures.serviceOne }}">
                    </picture>
                </div>
                <h5 class="service-title">Discover.</h5>
            </div>

            <div class="container service">
                <div class="responsive-picture">
                    <picture><img alt="Placeholder Picture" src="/assets/images/{{ pictures.serviceTwo }}">
                    </picture>
                </div>
                <h5 class="service-title">Exquisite.<br>
                </h5>
            </div>

            <div class="container service">
                <div class="responsive-picture">
                    <picture><img alt="Placeholder Picture" src="/assets/images/{{ pictures.serviceThree }}">
                    </picture>
                </div>
                <h5 class="service-title">Places.<br>
                </h5>
            </div>

        </div>
        <div class="container container-1">
            <p class="paragraph paragraph-1">{{ description }}</p>
            <a class="link-button action-btn button" href="/contact">{{ cta }}</a>
        </div>
        {% endblock %}
        {{ include('layout/includes/footer.html.twig') }}
        <script src="/assets/app.js"></script>
    </body>

</html>
